div.widget-liquid-left {
	clear: left;
	float: left;
	margin: 0;
	position: relative;
	width: 300px;
}
div#widgets-left {
	margin: 0 auto;
	width: 285px;
}
div.widget-liquid-right {
	clear: right;
	float: right;
	margin-left: -325px;
	width: 100%;
}
div#widgets-right {
	margin-right: 5px;
	margin-left: 325px;
	width: auto;
}
div#widgets-right .widget {
	position: relative;
	z-index: 999;
}
div#widgets-right .widgets-holder-wrap {
	float: left;
	width: 100%;
}
div#widgets-right .widgets-holder-wrap:nth-child(2) {
	width: 49%;
}
div#widgets-right .widgets-holder-wrap:nth-child(3) {
	width: 49%;
	float: right;
}