div.widget-liquid-left {
	clear: left;
	float: left;
	margin: 0;
	position: relative;
	width: 400px;
}
div#widgets-left {
	margin: 0 auto;
	width: 385px;
}
div.widget-liquid-right {
	clear: right;
	float: right;
	margin-left: -425px;
	width: 100%;
}
div#widgets-right {
	margin-right: 5px;
	margin-left: 425px;
	width: auto;
}
div#widgets-right .widget {
	position: relative;
	z-index: 999;
}
div#widgets-right .widgets-holder-wrap {
	float: left;
	width: 100%;
}
div#widgets-right .widgets-holder-wrap:nth-child(2) {
	width: 32%;
	float: right;
}
div#widgets-right .widgets-holder-wrap:nth-child(3) {
	width: 66%;
}
div#widgets-right .widgets-holder-wrap:nth-child(4) {
	clear: left;
	width: 33%;
	margin-right: 1%;
}
div#widgets-right .widgets-holder-wrap:nth-child(5) {
	width: 32%;
}
div#widgets-right .widgets-holder-wrap:nth-child(6) {
	clear: left;
	width: 32%;
	margin-left: 34%;
}
